<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/policeshield.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Virtual Police Station
  </a>
  <button *ngIf="userIsAuthenticated" type="button" class="btn btn-danger" (click)="onLogout()">Logout</button>
</nav>
