<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="container">
  <br>
  <div class="alert alert-info" role="alert">
    User Panal
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="assets/e-app.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">e-Application</h5>
          <p class="card-text">In this section user can apply for FIR or any special permission based application to the
            nearest police
            statio</p>
          <a routerLink="/e-application"  class="btn btn-primary">Apply</a>
        </div>
      </div>
      <!-- <div class="area-box">
          <img src="assets/e-app.png" alt="">
          <span class="fa fa-file-alt"></span>
          <h4><a href="#feature" class="title-head">e-Application</a></h4>
          <p>In this section user can apply for FIR or any special permission based application to the nearest police
            station</p>

        </div> -->
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/mitem.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Report Missing Item</h5>
          <p class="card-text">In this section user can submit report for there lost items.</p>
          <a routerLink="/MissItem" class="btn btn-primary">Apply</a>
        </div>
      </div>
      <!-- <div class="area-box">
          <img src="assets/mitem.png" alt="">
          <h4><a href="#feature" class="title-head">Report Missing Item</a></h4>
          <p>In this section user can submit report for there lost items.</p>

        </div> -->
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/mperson.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Report Missing Person</h5>
          <p class="card-text">Here individual can report about missing person.</p>
          <a routerLink="/MissPerson" class="btn btn-primary">Apply</a>
        </div>
      </div>

      <!-- <div class="area-box">
          <img src="assets/mperson.png" alt="">
          <h4><a href="#feature" class="title-head">Report Missing Person</a></h4>
          <p>Here individual can report about missing person.</p>

        </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img src="assets/tenet.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tenent Registration</h5>
          <p class="card-text">Here individual can report about missing person.</p>
          <a routerLink="/TenentReg" class="btn btn-primary">Apply</a>
        </div>
      </div>
      <!-- <div class="area-box">
          <img src="assets/tenet.png" alt="">
          <h4><a href="#feature" class="title-head">Tenent Registration</a></h4>
          <p>Here individual can report about missing person.</p>

        </div> -->
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/noc.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Apply for NOC</h5>
          <p class="card-text">Here individual can report about missing person.</p>
          <a routerLink="/NOC" class="btn btn-primary">Apply</a>
        </div>
      </div>
      <!-- <div class="area-box">
          <img src="assets/noc.png" alt="">
          <h4><a href="#feature" class="title-head">Apply for NOC</a></h4>
          <p>Here individual can report about missing person.</p>
        </div> -->
    </div>
    <div class="col-sm">
      <div class="card">
        <img src="assets/verifi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Police Verifiction Certificate</h5>
          <p class="card-text">Here individual can report about missing person.</p>
          <a routerLink="/PoliceVerification" class="btn btn-primary">Apply</a>
        </div>
      </div>
      <!-- <div class="area-box">
          <img src="assets/verifi.png" alt="">
          <h4><a href="#feature" class="title-head">Police Verifiction Certificate</a></h4>
          <p>Here individual can report about missing person.</p>
        </div> -->
    </div>

  </div>

</div>
